body {
	margin: 0px;
	padding: 0px;

	font-family: sans-serif;
}

div.header {
	background-color: #000080;
	width: 100%;
}

div.header h1 {
	color: #FFFFFF;
	padding: 25px;
	margin: 0px;
	font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
}

div.content {
	margin: 10px;
}

div.errortext {
	font-size: 8pt;
	font-family: sans-serif;
	color: #AA0000;
}

div.errorbox {
	font-family: sans-serif;
	padding: 10px;
	background-color: red;
	color: white;
	font-weight: bold;
	border: 1px solid black;
}

select, input {
	border: 1px solid #000000;
}

input.invalid {
	background: #802020;
	color: #FFFFFF;
}

td {
	vertical-align: top;
}
